extends layout

block content
	#headline
		h1 A very clear statement of your offer
		h6 A supporting statement of your value proposition. Entice the visitor to keep reading the high level details of your offering.
		a(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent signup" href="#") Get Halfstak
		img(src="/img/headline.png", alt="headline")

	#qk_feature
		.mdl-grid
			.mdl-cell--4-col.feature
				i.material-icons flight_takeoff
				h4 First Feature
				p Here is some text describing this awesome feature. Holy crap this feature is so awesome. 
			.mdl-cell--4-col.feature
				i.material-icons line_style
				h4 Second Feature
				p Here is some text describing this awesome feature. Holy crap this feature is so awesome. 
			.mdl-cell--4-col.feature
				i.material-icons face
				h4 Third Feature
				p Here is some text describing this awesome feature. Holy crap this feature is so awesome. 

	#detail_feature
		.mdl-grid
			.mdl-cell--6-col.mdl-cell--8-col-tablet.content
				h2 This is your first amazing feature and it's awesome!
				h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.mdl-cell--6-col.mdl-cell--8-col-tablet.content
				img(src="/img/macbook_pro.png")
		.mdl-grid.bigger-nudge.mdl-grid--no-spacing
			.mdl-cell--6-col.mdl-cell--8-col-tablet.mdl-cell--order-2-phone.mdl-cell--order-2-tablet.content
				img(src="/img/macbook_pro.png")
			.mdl-cell--6-col.mdl-cell--8-col-tablet.mdl-cell--order-1-phone.mdl-cell--order-1-tablet.content
				h2 This is your second amazing feature and it's awesome!
				h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	#screenshots
		h2 Screenshots
		.mdl-grid.big-nudge
			.mdl-cell--4-col
				a(href="/img/screenshots/Home.png", class="swipebox", title="Home Screen")
					img(src="/img/screenshots/Home.png")
			.mdl-cell--4-col
				a(href="/img/screenshots/Lab.png", class="swipebox", title="Lab: Create your tones")
					img(src="/img/screenshots/Lab.png")
			.mdl-cell--4-col
				a(href="/img/screenshots/Labtwo.png", class="swipebox", title="Lab: Edit your plugins")
					img(src="/img/screenshots/Labtwo.png")
		.mdl-grid.big-nudge
			.mdl-cell--4-col
				a(href="/img/screenshots/Open.png", class="swipebox", title="Lab: Open previously created tones.")
					img(src="/img/screenshots/Open.png") 
			.mdl-cell--4-col
				a(href="/img/screenshots/Bank.png", class="swipebox", title="Bank: Configure tones for live use.")
					img(src="/img/screenshots/Bank.png")
			.mdl-cell--4-col
				a(href="/img/screenshots/Stage.png", class="swipebox", title="Stage: Go live, shock the world.")
					img(src="/img/screenshots/Stage.png")
		.mdl-grid.big-nudge
			.mdl-cell--4-col
				a(href="/img/screenshots/dashboard.png", class="swipebox", title="Cloud Services: Home screen.")
					img(src="/img/screenshots/dashboard.png") 
			.mdl-cell--4-col
				a(href="/img/screenshots/account.png", class="swipebox", title="Cloud Services: Edit your account information.")
					img(src="/img/screenshots/account.png")
			.mdl-cell--4-col
				a(href="/img/screenshots/payment.png", class="swipebox", title="Cloud Services: Configure payment.")
					img(src="/img/screenshots/payment.png")
		.mdl-grid.big-nudge
			.mdl-cell--4-col
				a(href="/img/screenshots/plugindirectory.png", class="swipebox", title="List of our favorite plugins for use with Halfstak.")
					img(src="/img/screenshots/plugindirectory.png") 
			.mdl-cell--4-col
				a(href="/img/screenshots/learn.png", class="swipebox", title="Cloud Services: Learn how to use Halfstak.")
					img(src="/img/screenshots/learn.png")

	#fans
		.mdl-grid
			.mdl-cell--4-col.review
				i.material-icons face
				h6 I like Halfstak. It does stuff and I like it when something I pay for does good stuff.  
				p - Some Person, Some Band
			.mdl-cell--4-col.review
				i.material-icons face
				h6 I like Halfstak. It does stuff and I like it when something I pay for does good stuff. 
				p - Some Person, Some Band
			.mdl-cell--4-col.review
				i.material-icons face
				h6 I like Halfstak. It does stuff and I like it when something I pay for does good stuff. 
				p - Some Person, Some Band

	#faq
		h2 Frequently Asked Questions
		h6 You have questions, we have answers.
		.mdl-grid
			.mdl-cell--6-col
				div
					h4 What is a question?
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
			.mdl-cell--6-col
				div
					h4 What is a question?
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
		.mdl-grid.nudge
			.mdl-cell--6-col
				div
					h4 What is a question?
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
			.mdl-cell--6-col
				div
					h4 What is a question?
					h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris

	#closing
		h2 One price, all of Halfstak.
		h4 $7 per month
		a(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent signup" href="#") Get Halfstak