@import '_settings'

normalize-css()
base()

#headline
  padding-top 6em
  text-align center
  h1
    font-size 3.8em
    color gray_400
    font-weight 300
  h6
    tron(50%)
    font-size 1.15em
    font-weight 400
    color gray_300
  a
    color white
    background-color red
    margin-top 3em
  img
    margin-top 5em
    tron(80%)

#closing
  background-color gray_850
  spacer(5em)
  text-align center
  h2
    color gray_500
    tron(41%)
    font-size 2.75em
  h4
    color gray_400
    font-weight 300
  a
    margin-top 3em
    color white
    background-color red

#detail_feature
  background-color gray_900
  spacer(7em)
  compress(3%)
  .content
    var033c7b8088d114c49831aa41 = "" + smartphones + ", " + tablets + ""
    @media var033c7b8088d114c49831aa41
      tron(100%)
  h2
    color gray_500
    font-size 2.5em
    var5fb72164f294fead3bd337eb = "" + smartphones + ", " + tablets + ""
    @media var5fb72164f294fead3bd337eb
      text-align center
  h6
    color gray_500
    font-weight 300
    font-size 1.1em
    var5c6ddb3aa2d0d1a1726d8a90 = "" + smartphones + ", " + tablets + ""
    @media var5c6ddb3aa2d0d1a1726d8a90
      text-align center
  img
    tron(80%)
    vare5cbdf116cc99ddfeea87e61 = "" + smartphones + ", " + tablets + ""
    @media vare5cbdf116cc99ddfeea87e61
      padding-top 2em

#fans
  spacer(5em)
  .review
    text-align center
    i.material-icons
      color gray_500
      font-size 4em
    h6
      padding-top 1em
      tron(80%)
      color gray_300
    p
      color gray_500
      font-weight 300

#qk_feature
  background-color gray_850
  spacer(5em)
  .feature
    text-align center
    i.material-icons
      color gray_500
      font-size 4em
    h4
      color gray_300
    p
      tron(80%)
      color gray_500
      font-size 1.2em
      font-weight 300

#screenshots
  background-color gray_850
  spacer(5em)
  h2
    text-align center
    color gray_500
  img
    tron(80%)
    varaab2d9b88ff7e687d7f1cd0d = "" + smartphones + ""
    @media varaab2d9b88ff7e687d7f1cd0d
      margin-top 1em

#faq
  background-color gray_900
  spacer(5em)
  h2
    text-align center
    color gray_500
    font-size 2.75em
  h6
    text-align center
    color gray_500
    font-weight 300
  .mdl-cell--6-col
    div
      tron(80%)
    h4
      color gray_400
    h6
      text-align left

#pricing
  background-color gray_850
  spacer(5em)
  text-align center
  h2
    color gray_500
